html {
  margin: 0px;
  background: #080917;
 

}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.wallpaper {
  height: 100vh;
  background-image: url("/images/fundo.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.logo-sunbreak {
  margin-top: 170px;
  display: flex;
  justify-content: center;
}

footer {
  background-color: #080917;
  justify-content: space-evenly;
}

.steam {
  padding: 10px 64px;
  margin: auto 0;
  background-color: #111;
  border: solid 1px #c5c5c5;
}

.steam:hover {
  border: solid 1px #fff;
  cursor: pointer;
}

.texto {
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.capcom {
  border-top: solid 1px #c5c5c5;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.arrow_privacy {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.texto_footer {
  padding-bottom: 8px;
}

.texto_footer-cap {
  text-align: end;
}

.texto-sublim {
  color: #fed100;
  text-decoration: underline;
  cursor: pointer;
}

.texto-sublim:hover {
  color: #fff;
  transition: 0.1s linear;
  text-decoration: none;
}
